.App {
  position: relative;
  padding: 8px;
}

.ViewerWindow {
  position: relative;
  margin-top: 16px;
  margin-left: 16px;
  width: 722px;
  height: 402px;
  padding: 8px;
}

.ControlsWindow {
  position: relative;
  margin-top: 16px;
  margin-left: 16px;
  width: 720px;
  min-height: 280px;
  padding: 8px;
  border: 1px solid #ccc;
}

.Description {
  margin-left: 8px;
}


/* Override Molstar CSS */

.msp-state-snapshot-viewport-controls,
.msp-snapshot-description-wrapper {
  display: none;
}

.msp-highlight-toast-wrapper {
  pointer-events: none;
}